version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    open-pull-requests-limit: 1
    groups:
      actions-deps:
        patterns:
          - "*"
    schedule:
      interval: "monthly"
