name: Build and Test

on:
  push:

env:
  IMAGE_NAME: garage
  RUST_VERSION: latest
  GARAGE_VERSION: v2

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: amd64
          - arch: arm64

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up QEMU
        if: matrix.arch == 'arm64'
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker buildx build \
            --platform linux/${{ matrix.arch }} \
            --build-arg RUST_VERSION=${{ env.RUST_VERSION }} \
            --build-arg GARAGE_VERSION=${{ env.GARAGE_VERSION }} \
            --build-arg TARGETARCH=${{ matrix.arch }} \
            -t ${{ env.IMAGE_NAME }}:test \
            --load \
            .

      - name: Test Docker image
        run: |
          docker run --rm ${{ env.IMAGE_NAME }}:test /garage --version
